body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    padding: 1px;
    background-color: rgb(34, 109, 34); 
    color: #fff;
    padding-left: 580px;
}
h1{
    display: flex;
}
.paragrafo{
    border: 2px solid green;
    padding: 10px;
    border-radius: 7px;
    
}


.addAttContainer{
    background-color: rgb(123, 255, 0);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid green;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    
    
}
.addAttContainer:hover{
    background-color:rgb(13, 146, 13) ;
}
body{
 background-image: url(../img/imagemtop.jpg);
}
#h3Login{
    padding-left: 50px;
}

.container{
    margin: auto;
    margin-top: 50px;
    width: 20%;
    padding: 30px;
    border: 5px solid  rgb(21, 72, 165);
    border-radius: 10px;
    margin-left: 495px;
    background-color: #fff;
}
#h3Container{
    text-align: center;
    margin-top: auto;
    padding-top: 0px;
    padding: 3px;
    
    
    
}
#atividades{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1px;    
    
    
}

.btn-deletar{
    background-color: rgb(153, 47, 47);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid rgb(88, 11, 11);
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    margin-left: 10px;
    

}

input{
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    width: 90%;
    padding: 15px;
    border: 2px solid green;
    border-radius: 5px;
    outline: none;
    text-align: center;
    
}



.botao{
    width: 50%;
    background-color: rgb(123, 255, 0);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid green;
    cursor: pointer;
    font-size: medium;
}
.btn-logar{
    width: 40%;
    background-color: rgb(123, 255, 0);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid green;
    cursor: pointer;
    font-size: medium;
}
.btn-logar:hover{
    background-color:rgb(13, 146, 13) ;
}
.botao:hover{
    background-color:rgb(13, 146, 13) ;
}
#h3CriarConta{
    margin-left: 25px;
}
.aSegundaPagina{
   
    background-color: rgb(123, 255, 0);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid green;
    cursor: pointer;
    text-decoration: none;
    margin-left: 30px;
    font-size: medium;
    padding-left: 26px;
    padding-right: 26px;
    }
.aSegundaPagina:hover{
    background-color:rgb(13, 146, 13) ;

}
.btn-criar-conta{
   
    background-color: rgb(123, 255, 0);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid green;
    cursor: pointer;
    margin-left: 29px;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
    }
    .btn-criar-conta:hover{
        background-color:rgb(13, 146, 13) ;
    }
    .btn-criar-conta2{
   
        background-color: rgb(123, 255, 0);
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        border: 3px solid green;
        cursor: pointer;
        margin-left: 67px;
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
        }
        .btn-criar-conta2:hover{
            background-color:rgb(13, 146, 13) ;
        }


@media screen and (max-width:500px){
    nav{
        display: block;
    }

    .nav-item{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container{
        padding: 10px;
    }

    .form{
        width: 85%;
    }
}
