
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
}

body{
   font-size: 100%;
    background: linear-gradient(90deg, rgba(218,216,216,1) 0%, rgba(194,255,250,1) 50%, 
   rgba(218,216,216,1) 100%);

    
}
li{
    list-style: none;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    height: 100px;
    margin-bottom: 50px;
    width: 100%;
}
.lista-nav{
   display: flex;
   align-items: center;
   gap: 20px;
  
}
.h-logo{
   height: 200px; 
   margin-top: 30px;

   
}
.logout{
    font-weight:bold;
    color: black;
    font-size: 20px;
    text-decoration: none;
    
}
.logout:hover{
    color: rgb(81, 224, 212);
}



.texto-link{
    font-weight:bold;
    color: black;
    font-size: 20px;
    text-decoration: none;
    
}
.texto-link:hover{
    color: rgb(81, 224, 212);
}




.caixa-textos {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    width: 73%;
    justify-content: center;
    margin-left: 13.7%;
}
.container-texto-1{
   background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
}

.container-texto-2{
   background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
   
}
.icon-button{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.icon-landing {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 38px;
}
.btn-index {
    margin-right: 7px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.btn-index:hover{
    background-color: rgb(0, 0, 0, 70%);
}
    

.footer{
    width: 100%;
    background-color: white;
    height: 110px;
    
}
    .contatos-footer{
      display: flex;
      padding-top: 30px;
      justify-content: center;
      gap: 40px;
      margin-bottom: 10px;
}
.h2-footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
  
    
   
}
.img-footer-insta{
    height: 50px;

}

#h3Container-cc1{
    text-align: center;
}
#h3Container-cc2{
    text-align: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inpt-login{
    width: 80%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
    color:rgb(19, 19, 19);
    font-weight: bold;
    margin-bottom: 10px;

}
.container-login {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 150px;
    height: 261px;
}

.container-cadastro{
    display: none;
    margin: 0 auto;
     width: 40%;
     padding: 30px;
     border-radius: 10px;
     background-color: #fff;
     margin-bottom: 65px;
}
   
    .btns-div{
        display: flex;
        width: 80%;
        justify-content: center;
        margin-left: 10%;
        gap: 20px;
        margin-top: 20px;
}
.double-containers{
    display: flex;
    justify-content: space-around;
    
}
.container-adicionar{
    background-color: white;
    width: 40%;
    vertical-align: top;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 100px;

}
.container-lista{ 
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.paragrafo{
    width:100%;
 }




#h3Container-adicionar {
    text-align: center;
    margin-top: 47px;
}
.atividades-criadas {
    border: 5px solid rgb(240, 240, 240);
    border-radius: 20px;
    background-color: white;
    color: black;
    display: flex;
    width: 50%;
    height: 200px;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    margin-left: 36px;
}
.btns-box {
    display: flex;
    margin-top: 120px;
    justify-content: space-evenly;
    margin-right: 150px;
    width: 100%;
    
}
.container-listaADM {
    background-color: rgb(255, 255, 255);
    padding: 2% 0;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 93px;
}
.container-adm{
    display: flex;
    flex-direction: column;
    
}
.h1-adm{
    text-align: center;
}

@media screen and (max-width:1920px){
    .icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 403px;
    }
    .container-login {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 565px;
        height: 261px;
    }
    .container-cadastro {
        display: none;
        margin: 0 auto;
        width: 40%;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 428px;
    }
    .paragrafo {
        width: 100%;
        margin-bottom: 166px;
    }
    .container-listaADM {
        background-color: rgb(255, 255, 255);
        padding: 2% 0;
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 273px;
    }
    .container-lista {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 156px;
    }
}
@media screen and (max-width:1366px){
    .icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 106px;
    }
    .container-cadastro {
        display: none;
        margin: 0 auto;
        width: 40%;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 128px;
    }
    .container-login {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 247px;
        height: 261px;
    }
    .paragrafo {
        width: 100%;
        margin-bottom: -18px;
    }
    .container-listaADM {
        background-color: rgb(255, 255, 255);
        padding: 2% 0;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 93px;
    }
    .container-lista {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 447px;
    }
    
}


@media screen and (max-width:907px){
    .btns-box {
        display: flex;
        margin-top: 120px;
        justify-content: space-evenly;
        margin-right: 150px;
        width: 100%;
        margin-left: -25px;
    }
    .atividades-criadas {
        border: 5px solid rgb(240, 240, 240);
        border-radius: 20px;
        background-color: white;
        color: black;
        display: flex;
        width: 50%;
        height: 200px;
        padding: 20px;
        width: 80%;
        margin-top: 20px;
        margin-left: 23px;
    }
    #iptAtividade0 {
        width: 530%;
    }
    #iptDataAtividade0 {
        width: 530%;
    }
 }
 @media screen and (max-width:656px){
    .atividades-criadas {
        border: 5px solid rgb(240, 240, 240);
        border-radius: 20px;
        background-color: white;
        color: black;
        display: flex;
        width: 50%;
        height: 200px;
        padding: 20px;
        width: 80%;
        margin-top: 20px;
        margin-left: 19px;
    }
    .btns-box {
        display: flex;
        margin-top: 120px;
        justify-content: space-evenly;
        margin-right: 150px;
        width: 100%;
        margin-left: -19px;
    }
    .titulo-introduçao{
        font-size: 25px;
    }
    .p-home {
      
        font-size: 10px;
    }
 }
 @media screen and (max-width:768px){
    .container-lista {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 458px;
    }
 }
 @media screen and (max-width:600px){
    .double-containers {
        display: flex;
        flex-direction: column;
        margin-top: -51px;
        width: 100%;
    }
    .container-adicionar {
        background-color: white;
        width: 100%;
        vertical-align: top;
        height: 300px;
        border-radius: 0px 0px 20px 20px;
        margin-bottom: 100px;
    }
   
    .atividades-criadas {
        border: 5px solid rgb(240, 240, 240);
        border-radius: 20px;
        background-color: white;
        color: black;
        display: flex;
        width: 50%;
        height: 200px;
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        margin-left: 2px;
    }
    .container-login {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 30px;
        border-radius: 0px 0px 10px 10px;
        background-color: #fff;
        margin-bottom: 150px;
        height: 261px;
        margin-top: -51px;
    }
    .container-cadastro {
        display: none;
        margin: 0 auto;
        width: 100%;
        padding: 30px;
        border-radius: 0px 0px 10px 10px;
        background-color: #fff;
        margin-bottom: 65px;
        margin-top: -54px;
    }
    .container-lista {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -81px;
    }
    .btns-box {
        display: flex;
        margin-top: 120px;
        justify-content: space-evenly;
        margin-right: 150px;
        width: 100%;
        margin-left: -14px;
    }
 }
 @media screen and (max-width:496px){
    .titulo-introduçao {
        font-size: 21px;
    }

 }

 @media screen and (max-width:434px){
    .h-logo{
    display: none;
    }
    .atividades-criadas {
        border: 5px solid rgb(240, 240, 240);
        border-radius: 20px;
        background-color: white;
        color: black;
        display: flex;
        width: 50%;
        height: 200px;
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        margin-left: -4px;
    }
    .btn-editar {
        background-color: grey;
        margin-top: 4%;
        color: white;
        border-radius: 5px;
        border: none;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    .btn-excluir {
        background-color: red;
        color: white;
        border-radius: 5px;
        border: none;
        margin-top: 4%;
        width: 70px;
        height: 30px;
        font-size: 10px;
    }
    .h1-adm {
        text-align: center;
        font-size: 24px;
    }
    .container-listaADM {
        background-color: rgb(255, 255, 255);
        padding: 2% 0;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 104px;
    }
 }
 @media screen and (max-width:424px){
    .titulo-introduçao {
        font-size: 17px;
    }
    .p-home {
        font-size: 9px;
    }
 }
 @media screen and (max-width:398px){
    .btns-box {
        display: flex;
        margin-top: 120px;
        justify-content: space-evenly;
        margin-right: 150px;
        width: 100%;
        margin-left: 0px;
    }
    .titulo-lista {
        margin-left: 4%;
      
    }
    .p-itemLista {
        margin-left: 4%;
        
    }
   
 }
 @media screen and (max-width:362px){
    .titulo-introduçao {
        font-size: 15px;
    }
    .p-home {
        font-size: 8px;
    }
 }
 @media screen and (max-width:346px){
    
    @media screen and (max-width:324px){
        .titulo-introduçao {
            font-size: 14px;
        }
        .p-home {
            font-size: 7px;
        }
    }
 }
 
.container-lista2{
    
    border-radius: 20px ;
    width: 70%;
    display: block;
    margin: 0 auto;
    }
    
.btn-adicionar{
    background-color: rgba(194,255,250,1);
    border: none;
    padding: 4%;
    border-radius: 10%;
    font-family: 'Noto Sans Mono';
    cursor: pointer;


}
.btn-adicionar:hover{
    background-color: rgb(130, 202, 196) ;
}
.btn-deletar{
    
    background-color: rgba(194,255,250,1);
    border: none;
    padding: 4%;
    border-radius: 10%;
    cursor: pointer;
    font-family: 'Noto Sans Mono';   
}
.btn-deletar:hover{
    background-color: rgb(130, 202, 196) ;
}
#h3Container{
    text-align: center;
    margin-top: 5%;
    
    
    
    
    
}

#atividades{
    font-family: Verdana;
    margin-top: 1px;    
    
    
}
.btn-nao-possuo-conta{
    background-color: rgba(194,255,250,1);
    border: none;
    padding: 4%;
    border-radius: 10%;
    cursor: pointer;
    font-family: 'Noto Sans Mono';
    
 }
 .btn-nao-possuo-conta:hover{
    background-color: rgb(130, 202, 196) ;
 }
 .btn-ja-possuo-conta{
    background-color: rgba(194,255,250,1);
    border: none;
    padding: 4%;
    border-radius: 10%;
    font-family: 'Noto Sans Mono';
    cursor: pointer;
    
 }
 .btn-ja-possuo-conta:hover{
    background-color: rgb(130, 202, 196) ;
 }

.addAttContainer{
    
   
    background: white;
    background: linear-gradient(90deg, white 0%, rgba(194,255,250,1) 100%);
    color: black;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: medium;
    text-decoration: none;
    width: 40%;
    padding-left: 20px;
    
}
.btn-logar{
    background-color: rgba(194,255,250,1);
    border: none;
    padding: 4%;
    border-radius: 10%;
    cursor: pointer;
    font-family: 'Noto Sans Mono';
    
}
.btn-logar:hover{
    background-color: rgb(130, 202, 196) ;
}

#h3CriarConta{
    margin-left: 25px;
}

.btn-criar-conta{
    margin-top: 5%;
   width: 60%;
   margin-left: 20%;
    background: white;
    background: linear-gradient(90deg, white 0%, rgba(194,255,250,1) 100%);
    color: black;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: medium;
    }
    .btns-div-2{
       display: flex;
       justify-content: space-between;
       
       }
    
    .btn-criar-conta2{
   
        background-color: rgba(194,255,250,1);
        border: none;
        padding: 4%;
        border-radius: 10%;
        font-family: 'Noto Sans Mono';
        cursor: pointer;
    
    }

        .btn-criar-conta2:hover{
            background-color: rgb(130, 202, 196) ;
        }
    

        
         
        .lista-atividade{
           height: none;
            width: 70%;
            margin-left: 15%;
            margin-bottom: 30px;
            
        }
        
        
        .task-box{
            position: relative;
            width: 20%;
            
        }
        .edit-task-box{
            position: relative;
            width: 20%;
            display: none;
        }
        .btn-editar{
            background-color: grey;
            margin-top: 4%;
            color: white;
            border-radius: 5px;
            border: none;
            width: 70px;
            height: 30px;

            
        }
        .btn-excluir{
            background-color: red;
            color: white;
            border-radius: 5px;
            border: none;
            margin-top: 4%;
            width: 70px;
            height: 30px;
        }
        .titulo-lista{
         margin-left: 4%;
        }
        
        .p-itemLista{
        margin-left: 4%;
        
        }
        